{% extends 'base.html'%}
{% block content %}
<title>GradeHub</title>
{% endblock %}


{% block body %}

<style>
    
.space {
    justify-items: center;
    padding: 0%;
    margin-top: 10%;
}
.container {
    align-items: center;
    display: flex;
    font-size:x-large;
}

.space i{
    font-size:100px; color:black; 
    display: flex;
    transition: 0.2s;
}

.space i:hover {
    opacity: 90%;
    color: rgb(45, 74, 158);
    transition: 0.2s;
}

.fade-in {
    opacity: 0;
    transform: translateY(0px);
    animation: fadeIn 1.25s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(20px)
    }
}

</style>
<div class="space">
    <i class="fas fa-graduation-cap fade-in"></i>
    <div class="container fade-in">
        <h1>Welcome to </h1>
        <h1 style="color: rgb(45, 74, 158)">&nbsp;GradeHub</h1>
        <h1>.</h1>
    </div>
        <br>
        <p class="fade-in" style=" color: #666;">ให้เราช่วยคำนวณผลการเรียนของคุณ</p>
</div>

{% endblock %}
