{% extends 'base.html'%}
{% block content %}
<title>Simulation</title>
{% endblock %}

{% block body %}
<br><br>
<style>
.space {
    padding-left: 30px;
    margin-left: 50px;
}
.fade-in {
opacity: 0;
transform: translateY(-20px);
animation: fadeIn 1.25s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
</style>
<div class="space fade-in">
    <h1>การจำลอง GPS และ GPA</h1>
    <h1 style="color: grey; font-size:medium; font-weight: lighter;">วางแผนและจำลองสถานการณ์เพื่อบรรลุเป้าหมาย GPS และ GPA ที่ต้องการ</h1>
</div>
{% endblock %}
